<script type="text/javascript" th:src="@{/manager/js/queryCoursePage/query_course.js}"></script>
<div class="real-contents all-contents">
	<div class="clearfix">
		<span class="rectangle"></span>
		<span class="title">哇，你看到了所有的活动</span>
	</div>
	<div id="activities-ajax-result">
	<table class="show-table show-table-activities">
		<tr class="show-tr">
			<th>正在加载活动信息...</th>
		</tr>
	</table>
	</div>
	<ul class="input-ul">
			<li class="input-li">
				<button type="button" class="input-border-no-radius page-margin" id="firstPage">首页</button>
				<button type="button" class="input-border-no-radius" id="previousPage">上一页</button>
				<button type="button" class="input-border-no-radius" id="nextPage">下一页</button>
				<button type="button" class="input-border-no-radius" id="lastPage">尾页</button> <span class="input-title middle-input-title" style="letter-spacing:2px">当前第 <span id="nowpagecopy">1</span> 页，共 <span id="totalpagescopy">1</span> 页，到第</span> <span
					class="input-border-no-radius kkkkkk"
				>
					<input type="text" name="toPgae" class="input-text input-number" value="1" maxlength="3"/>
				</span> <span class="input-title middle-input-title"> 页</span>
				<button type="button" class="input-border-no-radius middle-input-title" id="toPage-button">确定</button>
			</li>
		</ul>
</div>
