<div class="real-contents all-contents">
	<div class="clearfix">
		<span class="rectangle"></span>
		<span class="title">第二课堂量化管理系统，当前版本 Version 1.0.0</span>
	</div>
	<ul class="input-ul">
		<li class="input-li">
			<span class="input-title">
					开发团队来自辽宁大学信息学院，14 级计算机科学与技术 <a style="color: -webkit-link;text-decoration: underline;" href="tencent://Message/?Uin=1065531346&websiteName=q-zone.qq.com&Menu=yes">贾迟</a>，16 级软件工程 <a style="color: -webkit-link;text-decoration: underline;"  href="tencent://Message/?Uin=1687796072&websiteName=q-zone.qq.com&Menu=yes">刘之帅</a>！<br>
					非常感谢 <b>曲大鹏</b>，<b>刘政军</b> 两位老师对本项目的指导与建议帮助、大佬们的建议和鼓励！<br>
					如果你愿意参与项目的后续开发，以及日常维护，没准可以加入我们！<br>
					在系统正式投入前，还需要各位进行测试，找到问题并发送邮件至 lzs783@qq.com 告诉我们，也可以点击名字直接联系我们！<br>
			</span>
		</li>
	</ul>
	<div class="clearfix">
		<span class="rectangle"></span>
		<span class="title">校内导航</span>
	</div>
	<ul class="text-ul" >
		<li><a href="http://jwgl.lnu.edu.cn/" target="_blank">辽宁大学综合教务管理</a></li>
		<li><a href="http://xysf.lnu.edu.cn/login.aspx" target="_blank">辽宁大学校园统一支付平台</a></li>
	    <li><a href="http://xsc.lnu.edu.cn/" target="_blank">学生工作处</a></li>
	    <li><a href="http://xg.lnu.edu.cn/" target="_blank">学生一体化服务平台</a></li>
	    <li><a href="http://zs.lnu.edu.cn/" target="_blank" class="zhengwen">辽宁大学本科生招生网</a></li>
	    <li><a href="http://job.lnu.edu.cn/" target="_blank" class="zhengwen">辽宁大学就业信息网</a></li>
	    <li><a href="http://e.weibo.com/liaoninguniversity?ref=http%3A%2F%2Fwww.lnu.edu.cn%2F" target="_blank">辽宁大学官方微博</a></li>
	    <li><a href="http://iie.lnu.edu.cn/" target="_blank">留学辽大</a></li>
	    <li><a href="http://lf.lnu.edu.cn/" target="_blank">辽风网</a></li>
	    <li><a href="http://library.lnu.edu.cn/" target="_blank">辽宁大学图书馆</a></li>
	    <li><a href="http://xy.lnu.edu.cn/" target="_blank">辽宁大学校友网</a></li>
	    <li><a href="http://www.lnu.edu.cn/xyfw/ldhy.htm" target="_blank">辽大黄页</a></li>
	</ul>
	
	<!-- <ul class="input-ul" style="margin-left: 15px">
		<li class="input-li">
		1、[公告] 辽宁大学信息学院第一届脱口秀大赛，正在紧张筹备，预计2020年06月06日晚六点在崇山校区哲理楼301进行预赛，请没有报名的班级班长抓紧时间。
		<span style="color:#aaa;margin-left:3px;">2017-10-12</span>
		</li>
		<li class="input-li">
			2、[头条] 辽宁大学信息学院学生梁旭入围中国有嘻哈2018年海选！
			<span style="color:#aaa;margin-left:3px;">2017-12-25</span>
		</li>
	</ul> -->
	
</div>
