<script type="text/javascript" src="/SmartClass/manager/js/createAdmin/create_user.js"></script>
<div class="real-contents max-contents">
	<div class="clearfix " style="display:block">
		<span class="rectangle left-min-margin"></span>
		<span class="title">创建管理账户</span>
	</div>
	<form action="/SmartClass/userAPI/createAdmin" id="createUserForm" method="post" >
		<ul class="input-ul "  >
			<li class="input-li"><span class="input-title">
					账户
					<span style="color: red;">*</span>:</span> <span class="input-border">
					<input type="text" class="input-text" style="width: 190px;" name="username" id="name" placeholder="用户名只能以字母开头" />
				</span> <span class="input-title" style="margin-left: 15px;">
					密码
					<span style="color: red;">*</span>
					:
				</span> <span class="input-border">
					<input type="password" class="input-text" name="password" style="width: 200px;" id="password" placeholder="在此处填写密码" />
				</span> <span id="posswordeye" class="glyphicon glyphicon-eye-close"></span></li>
		</ul>
		<ul class="input-ul ">
			<li class="input-li"><span class="input-title">手机：</span> <span class="input-border">
					<input type="text" class="input-text" style="width: 190px;" name="phone" placeholder="在此处填写手机号码" />
				</span> <span class="input-title" style="margin-left: 20px; margin-right: 12px;">QQ：</span><span class="input-border">
					<input type="text" class="input-text" name="qq" style="width: 200px;" id="password" placeholder="在此处填写QQ号码" />
				</span></li>
		</ul>
		<ul class="input-ul ">
			<li class="input-li"><span class="input-title">邮箱：</span> <span class="input-border">
				<input type="text" class="input-text" style="width: 190px;" name="email" placeholder="在此处填写绑定邮箱" />
			</span></li>
		</ul>
	</form>
	<table class='show-table-appoint' >
		<tr class='show-tr'><th style="color:red;" id="error_msg"></th></tr>
	</table>
	<ul class="input-ul" style="margin-top: 30px;">
		<li class="input-li" style="margin-bottom:0">
			<button class="page-margin input-border min-submit" id="admin">创建管理员</button>
		</li>
	</ul>
	
	
	
	
</div>
